# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

**/node_modules
**/dist
**/dist-ssr
**/*.local

# dependencies
**/.pnp
**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/versions

# Editor directories and files
**/.vscode/*
!**/.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib

# Test binary, built with `go test -c`
**/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
**/*.out

# Go workspace file
backend/go.work
backend/go.work.sum

# env file
**/.env*

# testing
**/coverage

# next.js
**/.next
**/out/

# production
**/build

# misc
**/*.pem

# vercel
**/.vercel

# typescript
**/*.tsbuildinfo
**/next-env.d.ts

# recording dirs
meeting_bot/recordings
meeting_bot/*.webm
meeting_bot/*.mp3
meeting_bot/*.wav
meeting_bot/*.m4a
meeting_bot/*.mp4
meeting_bot/*.mov
meeting_bot/*.avi
meeting_bot/*.mkv
meeting_bot/*.flv
meeting_bot/*.wmv